In [104]:
import pandas as pd
import requests
from sqlalchemy import create_engine
from config import username, pwd

In [105]:
school_data = pd.read_csv("Public_Schools.csv")
school_data.head()

,X,Y,OBJECTID,NCESID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_METHOD,VAL_DATE,WEBSITE,LEVEL_,ENROLLMENT,ST_GRADE,END_GRADE,DISTRICTID,FT_TEACHER,SHELTER_ID
0,-9.844095e+06,5.230976e+06,1,170330000017,ALDEN-HEBRON HIGH SCHOOL,9604 ILLINOIS ST,HEBRON,IL,60034,9618,...,IMAGERY/OTHER,2010/08/27 00:00:00,NOT AVAILABLE,HIGH,112,09,12,1703300,11,NOT AVAILABLE
1,-9.007027e+06,4.195442e+06,2,370297001287,WESTERLY HILLS ACADEMY,4420 DENVER AVE,CHARLOTTE,NC,28208,3699,...,IMAGERY/OTHER,2016/08/22 00:00:00,http://schools.cms.k12.nc.us/westerlyhillsES,ELEMENTARY,495,KG,08,3702970,45,NOT AVAILABLE
2,-9.580426e+06,4.792069e+06,3,180369000584,NORTHWOOD ELEMENTARY SCHOOL,965 GRIZZLY CUB DR,FRANKLIN,IN,46131,1364,...,IMAGERY/OTHER,2010/08/02 00:00:00,NOT AVAILABLE,ELEMENTARY,478,PK,04,1803690,25,NOT AVAILABLE
3,-1.243297e+07,3.927588e+06,4,40187003479,DR. GARY AND ANNETTE AUXIER ELEMENTARY SCHOOL,22700 S. POWER RD.,QUEEN CREEK,AZ,85298,NOT AVAILABLE,...,IMAGERY/OTHER,2018/10/24 00:00:00,NOT AVAILABLE,ELEMENTARY,958,PK,06,401870,51,NOT AVAILABLE
4,-1.243258e+07,3.924831e+06,5,40187003483,DR. CAMILLE CASTEEL HIGH SCHOOL,24901 S. POWER RD.,QUEEN CREEK,AZ,85142,NOT AVAILABLE,...,IMAGERY/OTHER,2018/10/24 00:00:00,NOT AVAILABLE,HIGH,2294,07,12,401870,115,NOT AVAILABLE

In [106]:
income_data = pd.read_csv("IRSIncomeByZipCode.csv")
income_data.head()

,STATE,ZIPCODE,Number of returns,Adjusted gross income (AGI),Avg AGI,Number of returns with total income,Total income amount,Avg total income,Number of returns with taxable income,Taxable income amount,Avg taxable income
0,AL,0,2022380,105089761,51.963410,2022380,106420533,52.621433,1468370,67850874,46.208295
1,AL,35004,4930,255534,51.832454,4930,258024,52.337525,4020,163859,40.760945
2,AL,35005,3300,128387,38.905152,3300,129390,39.209091,2440,70760,29.000000
3,AL,35006,1230,58302,47.400000,1230,58585,47.630081,940,36341,38.660638
4,AL,35007,11990,643708,53.687073,11990,651350,54.324437,9280,414878,44.706681

In [107]:
income_data = income_data.drop(columns=["Adjusted gross income (AGI)","Number of returns with total income","Total income amount","Number of returns with taxable income","Avg taxable income"])
income_data.head()

,STATE,ZIPCODE,Number of returns,Avg AGI,Avg total income,Taxable income amount
0,AL,0,2022380,51.963410,52.621433,67850874
1,AL,35004,4930,51.832454,52.337525,163859
2,AL,35005,3300,38.905152,39.209091,70760
3,AL,35006,1230,47.400000,47.630081,36341
4,AL,35007,11990,53.687073,54.324437,414878

In [108]:
#Renaming ZipCODE as Zip
income_data = income_data.rename(columns={"ZIPCODE":"ZIP"})
income_data.head()

,STATE,ZIP,Number of returns,Avg AGI,Avg total income,Taxable income amount
0,AL,0,2022380,51.963410,52.621433,67850874
1,AL,35004,4930,51.832454,52.337525,163859
2,AL,35005,3300,38.905152,39.209091,70760
3,AL,35006,1230,47.400000,47.630081,36341
4,AL,35007,11990,53.687073,54.324437,414878

In [109]:
school_data.columns

Index(['X', 'Y', 'OBJECTID', 'NCESID', 'NAME', 'ADDRESS', 'CITY', 'STATE',
       'ZIP', 'ZIP4', 'TELEPHONE', 'TYPE', 'STATUS', 'POPULATION', 'COUNTY',
       'COUNTYFIPS', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'NAICS_CODE',
       'NAICS_DESC', 'SOURCE', 'SOURCEDATE', 'VAL_METHOD', 'VAL_DATE',
       'WEBSITE', 'LEVEL_', 'ENROLLMENT', 'ST_GRADE', 'END_GRADE',
       'DISTRICTID', 'FT_TEACHER', 'SHELTER_ID'],
      dtype='object')

In [110]:
school_data = school_data.drop(columns=["NCESID","ZIP4","STATUS","COUNTYFIPS","NAICS_CODE","NAICS_DESC","SOURCEDATE",
                         "VAL_METHOD","VAL_DATE","DISTRICTID","FT_TEACHER"])

In [111]:
school_data['TYPE'].replace('1', 'Regular School')

0         1
1         1
2         1
3         1
4         1
         ..
102329    1
102330    1
102331    4
102332    1
102333    4
Name: TYPE, Length: 102334, dtype: int64

In [112]:
school_data.head()

,X,Y,OBJECTID,NAME,ADDRESS,CITY,STATE,ZIP,TELEPHONE,TYPE,...,COUNTRY,LATITUDE,LONGITUDE,SOURCE,WEBSITE,LEVEL_,ENROLLMENT,ST_GRADE,END_GRADE,SHELTER_ID
0,-9.844095e+06,5.230976e+06,1,ALDEN-HEBRON HIGH SCHOOL,9604 ILLINOIS ST,HEBRON,IL,60034,(815) 648-2442,1,...,USA,42.465566,-88.431010,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,NOT AVAILABLE,HIGH,112,09,12,NOT AVAILABLE
1,-9.007027e+06,4.195442e+06,2,WESTERLY HILLS ACADEMY,4420 DENVER AVE,CHARLOTTE,NC,28208,(980) 343-6021,1,...,USA,35.231909,-80.911501,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,http://schools.cms.k12.nc.us/westerlyhillsES,ELEMENTARY,495,KG,08,NOT AVAILABLE
2,-9.580426e+06,4.792069e+06,3,NORTHWOOD ELEMENTARY SCHOOL,965 GRIZZLY CUB DR,FRANKLIN,IN,46131,(317) 346-8900,1,...,USA,39.489753,-86.062430,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,NOT AVAILABLE,ELEMENTARY,478,PK,04,NOT AVAILABLE
3,-1.243297e+07,3.927588e+06,4,DR. GARY AND ANNETTE AUXIER ELEMENTARY SCHOOL,22700 S. POWER RD.,QUEEN CREEK,AZ,85298,(480) 812-7000,1,...,USA,33.242888,-111.687306,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,NOT AVAILABLE,ELEMENTARY,958,PK,06,NOT AVAILABLE
4,-1.243258e+07,3.924831e+06,5,DR. CAMILLE CASTEEL HIGH SCHOOL,24901 S. POWER RD.,QUEEN CREEK,AZ,85142,(480) 424-8100,1,...,USA,33.222170,-111.683768,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,NOT AVAILABLE,HIGH,2294,07,12,NOT AVAILABLE

In [113]:
school_data.dtypes

X             float64
Y             float64
OBJECTID        int64
NAME           object
ADDRESS        object
CITY           object
STATE          object
ZIP             int64
TELEPHONE      object
TYPE            int64
POPULATION      int64
COUNTY         object
COUNTRY        object
LATITUDE      float64
LONGITUDE     float64
SOURCE         object
WEBSITE        object
LEVEL_         object
ENROLLMENT      int64
ST_GRADE       object
END_GRADE      object
SHELTER_ID     object
dtype: object

In [114]:
school_data['TYPE'] = school_data['TYPE'].apply(str)

In [115]:
school_data['TYPE'] = school_data['TYPE'].replace('1', 'Regular School')

In [116]:
school_data.head()

,X,Y,OBJECTID,NAME,ADDRESS,CITY,STATE,ZIP,TELEPHONE,TYPE,...,COUNTRY,LATITUDE,LONGITUDE,SOURCE,WEBSITE,LEVEL_,ENROLLMENT,ST_GRADE,END_GRADE,SHELTER_ID
0,-9.844095e+06,5.230976e+06,1,ALDEN-HEBRON HIGH SCHOOL,9604 ILLINOIS ST,HEBRON,IL,60034,(815) 648-2442,Regular School,...,USA,42.465566,-88.431010,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,NOT AVAILABLE,HIGH,112,09,12,NOT AVAILABLE
1,-9.007027e+06,4.195442e+06,2,WESTERLY HILLS ACADEMY,4420 DENVER AVE,CHARLOTTE,NC,28208,(980) 343-6021,Regular School,...,USA,35.231909,-80.911501,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,http://schools.cms.k12.nc.us/westerlyhillsES,ELEMENTARY,495,KG,08,NOT AVAILABLE
2,-9.580426e+06,4.792069e+06,3,NORTHWOOD ELEMENTARY SCHOOL,965 GRIZZLY CUB DR,FRANKLIN,IN,46131,(317) 346-8900,Regular School,...,USA,39.489753,-86.062430,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,NOT AVAILABLE,ELEMENTARY,478,PK,04,NOT AVAILABLE
3,-1.243297e+07,3.927588e+06,4,DR. GARY AND ANNETTE AUXIER ELEMENTARY SCHOOL,22700 S. POWER RD.,QUEEN CREEK,AZ,85298,(480) 812-7000,Regular School,...,USA,33.242888,-111.687306,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,NOT AVAILABLE,ELEMENTARY,958,PK,06,NOT AVAILABLE
4,-1.243258e+07,3.924831e+06,5,DR. CAMILLE CASTEEL HIGH SCHOOL,24901 S. POWER RD.,QUEEN CREEK,AZ,85142,(480) 424-8100,Regular School,...,USA,33.222170,-111.683768,http://nces.ed.gov/GLOBALLOCATOR/sch_info_popu...,NOT AVAILABLE,HIGH,2294,07,12,NOT AVAILABLE

In [117]:
school_data['TYPE'] = school_data['TYPE'].replace('2', 'Special Education')

In [118]:
school_data['TYPE'] = school_data['TYPE'].replace('3', 'Vocational')

In [119]:
school_data['TYPE'] = school_data['TYPE'].replace('4', 'Other/Alternative')

In [120]:
school_data['TYPE'].unique()

array(['Regular School', 'Other/Alternative', 'Special Education',
       'Vocational'], dtype=object)

In [121]:
# Merging the data based on Zipcodes
project_2 = school_data.merge(income_data,how='left',on="ZIP")
project_2

,X,Y,OBJECTID,NAME,ADDRESS,CITY,STATE_x,ZIP,TELEPHONE,TYPE,...,LEVEL_,ENROLLMENT,ST_GRADE,END_GRADE,SHELTER_ID,STATE_y,Number of returns,Avg AGI,Avg total income,Taxable income amount
0,-9.844095e+06,5.230976e+06,1,ALDEN-HEBRON HIGH SCHOOL,9604 ILLINOIS ST,HEBRON,IL,60034,(815) 648-2442,Regular School,...,HIGH,112,09,12,NOT AVAILABLE,IL,970.0,48.412371,49.174227,29102.0
1,-9.007027e+06,4.195442e+06,2,WESTERLY HILLS ACADEMY,4420 DENVER AVE,CHARLOTTE,NC,28208,(980) 343-6021,Regular School,...,ELEMENTARY,495,KG,08,NOT AVAILABLE,NC,15850.0,25.505678,25.788580,181310.0
2,-9.580426e+06,4.792069e+06,3,NORTHWOOD ELEMENTARY SCHOOL,965 GRIZZLY CUB DR,FRANKLIN,IN,46131,(317) 346-8900,Regular School,...,ELEMENTARY,478,PK,04,NOT AVAILABLE,IN,14140.0,51.097242,51.784936,474465.0
3,-1.243297e+07,3.927588e+06,4,DR. GARY AND ANNETTE AUXIER ELEMENTARY SCHOOL,22700 S. POWER RD.,QUEEN CREEK,AZ,85298,(480) 812-7000,Regular School,...,ELEMENTARY,958,PK,06,NOT AVAILABLE,AZ,10620.0,97.272599,98.766667,750442.0
4,-1.243258e+07,3.924831e+06,5,DR. CAMILLE CASTEEL HIGH SCHOOL,24901 S. POWER RD.,QUEEN CREEK,AZ,85142,(480) 424-8100,Regular School,...,HIGH,2294,07,12,NOT AVAILABLE,AZ,20320.0,66.432283,67.388435,880706.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102329,-1.075152e+07,5.688108e+06,102330,LISMORE COLONY SCHOOL,80391 COUNTY RD 60,CLINTON,MN,56225,(320) 325-5583,Regular School,...,OTHER,36,KG,12,NOT AVAILABLE,MN,360.0,50.852778,53.011111,12271.0
102330,-1.031719e+07,4.598066e+06,102331,OSAGE BEACH ELEM.,1241 NICHOLS ROAD,OSAGE BEACH,MO,65065,(573) 348-2461,Regular School,...,ELEMENTARY,307,PK,04,NOT AVAILABLE,MO,3280.0,55.845122,57.025305,123533.0
102331,-8.512030e+06,4.450964e+06,102332,POINT OPTION ALTERNATIVE SCHOOL,813 DILIGENCE DR.,NEWPORT NEWS,VA,23606,(757) 591-7408,Other/Alternative,...,NOT APPLICABLE,-999,N,N,NOT AVAILABLE,VA,13460.0,59.439599,60.219985,546813.0
102332,-9.024169e+06,4.580376e+06,102333,GATEWOOD ELEMENTARY,5094 GATEWOOD ROAD,FAYETTEVILLE,WV,25840,(304) 574-2025,Regular School,...,ELEMENTARY,85,PK,04,NOT AVAILABLE,WV,3410.0,48.489150,49.212610,107925.0
102333,-1.345981e+07,4.856354e+06,102334,PLUMAS COUNTY OPPORTUNITY,1446 E. MAIN ST.,QUINCY,CA,95971,(530) 283-6500,Other/Alternative,...,MIDDLE,8,07,09,NOT AVAILABLE,CA,2660.0,52.005639,53.042481,90076.0

In [122]:
#Removing unwanted columns from the merged dataset
project_2 = project_2.drop(columns=["SHELTER_ID","STATE_y","X","Y","SOURCE","Number of returns"])
project_2

,OBJECTID,NAME,ADDRESS,CITY,STATE_x,ZIP,TELEPHONE,TYPE,POPULATION,COUNTY,...,LATITUDE,LONGITUDE,WEBSITE,LEVEL_,ENROLLMENT,ST_GRADE,END_GRADE,Avg AGI,Avg total income,Taxable income amount
0,1,ALDEN-HEBRON HIGH SCHOOL,9604 ILLINOIS ST,HEBRON,IL,60034,(815) 648-2442,Regular School,123,MCHENRY,...,42.465566,-88.431010,NOT AVAILABLE,HIGH,112,09,12,48.412371,49.174227,29102.0
1,2,WESTERLY HILLS ACADEMY,4420 DENVER AVE,CHARLOTTE,NC,28208,(980) 343-6021,Regular School,540,MECKLENBURG,...,35.231909,-80.911501,http://schools.cms.k12.nc.us/westerlyhillsES,ELEMENTARY,495,KG,08,25.505678,25.788580,181310.0
2,3,NORTHWOOD ELEMENTARY SCHOOL,965 GRIZZLY CUB DR,FRANKLIN,IN,46131,(317) 346-8900,Regular School,503,JOHNSON,...,39.489753,-86.062430,NOT AVAILABLE,ELEMENTARY,478,PK,04,51.097242,51.784936,474465.0
3,4,DR. GARY AND ANNETTE AUXIER ELEMENTARY SCHOOL,22700 S. POWER RD.,QUEEN CREEK,AZ,85298,(480) 812-7000,Regular School,1009,MARICOPA,...,33.242888,-111.687306,NOT AVAILABLE,ELEMENTARY,958,PK,06,97.272599,98.766667,750442.0
4,5,DR. CAMILLE CASTEEL HIGH SCHOOL,24901 S. POWER RD.,QUEEN CREEK,AZ,85142,(480) 424-8100,Regular School,2409,MARICOPA,...,33.222170,-111.683768,NOT AVAILABLE,HIGH,2294,07,12,66.432283,67.388435,880706.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102329,102330,LISMORE COLONY SCHOOL,80391 COUNTY RD 60,CLINTON,MN,56225,(320) 325-5583,Regular School,38,BIG STONE,...,45.421397,-96.582510,http://clintongraceville.mn.schoolwebpages.com,OTHER,36,KG,12,50.852778,53.011111,12271.0
102330,102331,OSAGE BEACH ELEM.,1241 NICHOLS ROAD,OSAGE BEACH,MO,65065,(573) 348-2461,Regular School,329,CAMDEN,...,38.131828,-92.680915,http://www.camdentonschools.org,ELEMENTARY,307,PK,04,55.845122,57.025305,123533.0
102331,102332,POINT OPTION ALTERNATIVE SCHOOL,813 DILIGENCE DR.,NEWPORT NEWS,VA,23606,(757) 591-7408,Other/Alternative,-999,NEWPORT NEWS,...,37.085021,-76.464870,http://sbo.nn.k12.va.us/schools/pointoption.shtml,NOT APPLICABLE,-999,N,N,59.439599,60.219985,546813.0
102332,102333,GATEWOOD ELEMENTARY,5094 GATEWOOD ROAD,FAYETTEVILLE,WV,25840,(304) 574-2025,Regular School,92,FAYETTE,...,38.006724,-81.065487,NOT AVAILABLE,ELEMENTARY,85,PK,04,48.489150,49.212610,107925.0
102333,102334,PLUMAS COUNTY OPPORTUNITY,1446 E. MAIN ST.,QUINCY,CA,95971,(530) 283-6500,Other/Alternative,11,PLUMAS,...,39.933983,-120.911496,http://www.pcoe.k12.ca.us,MIDDLE,8,07,09,52.005639,53.042481,90076.0

In [123]:
project_2 = project_2.rename(columns={"STATE_x":"STATE"})
project_2

,OBJECTID,NAME,ADDRESS,CITY,STATE,ZIP,TELEPHONE,TYPE,POPULATION,COUNTY,...,LATITUDE,LONGITUDE,WEBSITE,LEVEL_,ENROLLMENT,ST_GRADE,END_GRADE,Avg AGI,Avg total income,Taxable income amount
0,1,ALDEN-HEBRON HIGH SCHOOL,9604 ILLINOIS ST,HEBRON,IL,60034,(815) 648-2442,Regular School,123,MCHENRY,...,42.465566,-88.431010,NOT AVAILABLE,HIGH,112,09,12,48.412371,49.174227,29102.0
1,2,WESTERLY HILLS ACADEMY,4420 DENVER AVE,CHARLOTTE,NC,28208,(980) 343-6021,Regular School,540,MECKLENBURG,...,35.231909,-80.911501,http://schools.cms.k12.nc.us/westerlyhillsES,ELEMENTARY,495,KG,08,25.505678,25.788580,181310.0
2,3,NORTHWOOD ELEMENTARY SCHOOL,965 GRIZZLY CUB DR,FRANKLIN,IN,46131,(317) 346-8900,Regular School,503,JOHNSON,...,39.489753,-86.062430,NOT AVAILABLE,ELEMENTARY,478,PK,04,51.097242,51.784936,474465.0
3,4,DR. GARY AND ANNETTE AUXIER ELEMENTARY SCHOOL,22700 S. POWER RD.,QUEEN CREEK,AZ,85298,(480) 812-7000,Regular School,1009,MARICOPA,...,33.242888,-111.687306,NOT AVAILABLE,ELEMENTARY,958,PK,06,97.272599,98.766667,750442.0
4,5,DR. CAMILLE CASTEEL HIGH SCHOOL,24901 S. POWER RD.,QUEEN CREEK,AZ,85142,(480) 424-8100,Regular School,2409,MARICOPA,...,33.222170,-111.683768,NOT AVAILABLE,HIGH,2294,07,12,66.432283,67.388435,880706.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102329,102330,LISMORE COLONY SCHOOL,80391 COUNTY RD 60,CLINTON,MN,56225,(320) 325-5583,Regular School,38,BIG STONE,...,45.421397,-96.582510,http://clintongraceville.mn.schoolwebpages.com,OTHER,36,KG,12,50.852778,53.011111,12271.0
102330,102331,OSAGE BEACH ELEM.,1241 NICHOLS ROAD,OSAGE BEACH,MO,65065,(573) 348-2461,Regular School,329,CAMDEN,...,38.131828,-92.680915,http://www.camdentonschools.org,ELEMENTARY,307,PK,04,55.845122,57.025305,123533.0
102331,102332,POINT OPTION ALTERNATIVE SCHOOL,813 DILIGENCE DR.,NEWPORT NEWS,VA,23606,(757) 591-7408,Other/Alternative,-999,NEWPORT NEWS,...,37.085021,-76.464870,http://sbo.nn.k12.va.us/schools/pointoption.shtml,NOT APPLICABLE,-999,N,N,59.439599,60.219985,546813.0
102332,102333,GATEWOOD ELEMENTARY,5094 GATEWOOD ROAD,FAYETTEVILLE,WV,25840,(304) 574-2025,Regular School,92,FAYETTE,...,38.006724,-81.065487,NOT AVAILABLE,ELEMENTARY,85,PK,04,48.489150,49.212610,107925.0
102333,102334,PLUMAS COUNTY OPPORTUNITY,1446 E. MAIN ST.,QUINCY,CA,95971,(530) 283-6500,Other/Alternative,11,PLUMAS,...,39.933983,-120.911496,http://www.pcoe.k12.ca.us,MIDDLE,8,07,09,52.005639,53.042481,90076.0

In [124]:
# Converting dataframe to store as CSV file
project_data = project_2.to_csv("project_data.csv")

In [138]:
# Load the DataFrame into Postgres Database, Please ensure to run the table schemata sql file before running this part of code
#Create Engine
engine = create_engine(f'postgresql://{username}:{pwd}@localhost/Project_2')

In [140]:
# Insert into project_data table in SQL
project_2.to_sql(name='project_data',con=engine,if_exists='append',index=False)